@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .form {
    @apply flex flex-col justify-center items-center shadow-2xl shadow-slate-500/50;

    @apply px-8 py-4 rounded-md;
  }

  .card-center {
    @apply flex flex-row flex-wrap gap-8 justify-center items-center my-12;
  }

  .screen-center {
    @apply w-screen h-screen flex flex-col justify-center items-center;
  }

  .div-center {
    @apply w-full h-full flex justify-center items-center;
  }
}
